node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
.tsbuildinfo
**/*.tsbuildinfo
.env
**/.env
.env.local
**/.env.local
.env.test
**/.env.test
.git
.github
.husky
.vscode
*.log
**/*.log
README.md
LICENSE
docs
e2e
test
**/e2e
**/test
**/*.spec.ts
**/*.test.ts
vitest.config.ts
playwright.config.ts
nest-cli.json
tsconfig.json
